.successdiv {
    position   : relative;
    align-items: center;
    text-align : center;
    margin     : 0 auto;
    min-height:100vh;
}

.contain {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 190px;
}